@import '../mixins';

.header {
  background-color: var(--color-bg);
  height: 7rem;
  width: 100%;
  display: grid;
  grid-template-columns: 15rem max-content;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@include bpSmall() {
  .header {
    display: none;
  }
}
