@import '../mixins';

.bar {
  background: var(--color-bg);
  box-shadow: var(--shadow-2);
  display: none;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  height: 4rem;
  width: 100%;
  z-index: 9;
}

.button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9;
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
}

@include bpSmall() {
  .bar {
    display: grid;
  }
}
