@import '../mixins';

.checkbox {
  display: none;
  // Funcionalidad
  &:checked ~ .menu {
    left: 0;
  }

  &:checked ~ .overlay {
    opacity: 1;
    transform: scale(100%);
  }

  &:checked + .button .icon {
    background-color: transparent;
  }

  &:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.button {
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--grey-dark-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  visibility: hidden;
  z-index: 99;
}

.icon {
  position: relative;

  &,
  &::before,
  &::after {
    background-color: var(--black);
    width: 3rem;
    height: 2px;
    display: inline-block;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    transition: all 0.2s;
  }

  &::before {
    top: -0.8rem;
  }

  &::after {
    top: 0.8rem;
  }
}

.menu,
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
}

.menu {
  background-color: var(--color-bg);
  grid-template-columns: 100%;
  grid-template-rows: 10rem 1fr;
  align-items: start;
  grid-row-gap: 3rem;
  padding: 2rem;
  left: -100%;
  width: 85%;
  height: 100%;
  z-index: 3;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  opacity: 0;
  transform: scale(0);
  width: 100%;
  z-index: 2;
}

@include bpSmall() {
  .button {
    visibility: visible;
  }

  .menu {
    display: grid;
  }

  .overlay {
    display: block;
  }

  .menu,
  .overlay {
    transition: all 0.3s;
  }
}
