@import '../../mixins';

.about {
  background-color: var(--white);
  padding: 4rem;
  grid-column: center-start / center-end;
  display: grid;
}

@include bpLarge() {
  .about {
    grid-column: full-start / full-end;
    padding: 4rem;
  }
}
