@import '../../mixins';

.about {
  background-color: var(--white);
  padding: 4rem;
  grid-column: center-start / center-end;
  display: grid;
}

@include bpMedium() {
  .about {
    padding: 3rem 0;
  }
}
