@import '../../mixins';

.header_me {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #f9f9fa,
    #f3f4f6,
    #edeef1,
    #e7e9ed
  );
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}

@include bpLarge() {
  .header_me {
    grid-column: full-start / full-end;
  }
}

@include bpMedium() {
  .header_me {
    grid-column: full-start / full-end;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

@include bpSmall() {
  .header_me {
    grid-template-rows: 39rem 27rem;
  }
}
