@import '../../mixins';

.presentation {
  padding: 4rem;
  display: grid;
  align-content: center;
  grid-auto-rows: min-content;
  grid-row-gap: 0.5rem;
  height: 100%;

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }
}

@include bpMedium() {
  .presentation {
    padding: 3rem;
  }
}

@include bpSmall {
  .presentation {
    padding: 2rem;
  }
}
