@import '../../mixins';

.projects {
  padding: 4rem 0;
  grid-column: center-start / center-end;

  &_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
  }
}

@include bpLarge() {
  .projects {
    grid-column: full-start / full-end;
    padding: 4rem;
  }
}

@include bpMedium() {
  .projects {
    &_content {
      grid-gap: 3rem;
    }
  }
}

@include bpSmall {
  .projects {
    padding: 4rem 2rem;
  }
}
