.container {
  background-color: var(--white);
  border-radius: 5px;
  border: var(--border-grey);
  box-shadow: var(--shadow);
  display: grid;
  overflow: hidden;
}

.list__header {
  color: var(--grey-dark-3);
  background-color: var(--grey-dark);
  display: grid;
  grid-template-columns: 1fr 15rem 10rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.list__item {
  animation: var(--dropdownAnimateSlow);

  &:not(:last-child) {
    border-bottom: var(--border-grey);
  }

  a {
    color: var(--grey-dark-3);
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr 15rem 10rem;
    padding: 2rem;

    &:hover {
      background-color: var(--grey-ligth);
    }
  }

  &__info {
    display: grid;
  }

  &__subinfo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 1rem;
  }

  &__title {
    color: var(--black);
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &__author,
  &__category {
    span {
      margin-left: 0.7rem;
      font-weight: bolder;
    }
  }

  &__count {
    color: var(--blue-light-1);
  }
}

.list {
  &__staff {
    a {
      display: flex;
      padding: 1rem 2rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__user {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-column-gap: 1rem;
  }

  &__subtitle {
    color: var(--black);
    text-transform: capitalize;
  }

  &__figure {
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 0 0 3px var(--white);
    position: relative;
    height: 4rem;
    width: 4rem;
  }

  &__meta {
    color: var(----grey-dark-2);
  }
}
