.container {
  background-color: var(--grey-dark);
  padding: 2rem 3rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  &__title {
    font-size: 3rem;
    text-transform: capitalize;
  }
}
