.card_icon {
  color: var(--color-palett-1);
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1rem 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2.5rem;
  align-items: center;
  width: max-content;

  &__figure {
    fill: var(--color-secundary);
    height: 2.5rem;
    width: 2.5rem;
  }
}
