@import './mixins';

//COLOR VARIABLES
:root {
  --color-primary: #2f4858;
  --color-secundary: #ff4d4f;
  --color-thertiary: #6b5695;

  --color-palett-1: #3b537c;
  --color-palett-2: #a84f97;
  --color-palett-3: #df437e;

  --color-text: hsl(0, 0%, 10%);
  --color-text-acc-1: hsl(0, 0%, 20%);
  --color-text-acc-2: hsl(0, 0%, 30%);
  --color-text-acc-3: hsl(0, 0%, 40%);
  --color-text-reverse: hsl(0, 0%, 90%);
  --color-bg-body: hsl(219, 23%, 97%);
  --color-bg: hsl(0, 100%, 100%);
  --color-bg-acc-1: hsl(0, 0%, 98%);
  --color-bg-acc-2: hsl(0, 0%, 96%);
  --color-bg-acc-3: hsl(0, 0%, 94%);
  --color-bg-reverse: hsl(0, 0%, 10%);
  --color-neutral: hsl(0, 0%, 50%);
  --color-border: hsl(0, 0%, 95%);

  --purple: #ad26b4;
  --blue-light-1: #3fb0ef;
  --blue-ligh-2: #50b6ed;
  --grey-ligth: #f8fafc;
  --grey-dark: #f2f4f7;
  --grey-dark-1: #e8f0fe;
  --grey-dark-2: #d6e3eb;
  --grey-dark-3: #848484;
  --white: #ffffff;
  --black: #000000;
  --black-1: #343f44;
  --black-2: #738a94;
  --red: #ff4d4f;
  --green: #afd455;
  --green-light-1: #b3dd49;

  --border-grey: 1px solid var(--grey-dark-1);
  --border-light: 1px solid var(--grey-dark-2);
  --shadow: 0px 0px 2px var(--grey-dark-2);

  --dropdownAnimateSlow: dropdownAnimate 0.8s;

  --borde-round: 3px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

p {
  font-size: 1.5rem;
}

.container_grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}

.btn {
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
}

@keyframes dropdownAnimate {
  0% {
    display: block;
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    display: none;
    transform: translateY(0);
    opacity: 1;
  }
}

@include bpMedium() {
  html {
    font-size: 52%;
  }

  .container_grid {
    display: grid;
    grid-template-columns:
      [full-start] minmax(3rem, 1fr)
      [center-start]
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(3rem, 1fr) [full-end];
  }
}

@include bpMedium() {
  html {
    font-size: 52%;
  }

  .container_grid {
    display: grid;
    grid-template-columns:
      [full-start] minmax(3rem, 1fr)
      [center-start]
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(3rem, 1fr) [full-end];
  }
}
